<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--文件路径 -->
    <property name="FILE_PATH" value="./"/>
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
    <appender name="consoleInfoLog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>info</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <File>${FILE_PATH}/weaver-birds.log</File>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>${TEST_FILE_PATH}/order-job.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>
    <root level="info">
        <appender-ref ref="fileInfoLog"/>
        <appender-ref ref="consoleInfoLog"/>
    </root>
</configuration>